table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid;
}

.column-mission {
  width: 10%;
}

.column-description {
  width: 50%;
}

.column-status {
  width: 20%;
}

.column-status-2 {
  width: 20%;
}
